<div class="row">
  <div class="row has-children content_blocks_placeholder">
    <div class="tool-bar-blocks">
      <a href="#" class="btn-square ico-collapse-v js-collapse-all-children-blocks" title="Collapse all blocks"></a>
      <label><%= t('.title') %></label>
      <%= link_to t('.new_block'), '#', class: 'new_content_block btn _m0' %>
    </div>


    <%= f.fields_for :children, f.object.children.sort_by(&:position) do |f_child| %>

      <div class="block row <%= block_form_classes(f_child.object).join(" ")%>" id="<%= block_form_id(f_child.object) %>">
        <%= render 'no_cms/admin/blocks/blocks/form', f: f_child %>
      </div>
    <% end %>
  </div>
</div>
